#main {
    align-items: center;
    justify-content: center;
    background-color: #C4AE9E;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    width: 70%;
    height: 60vh;
    background-color: #B09A8B;
    border-radius: 15px;
    margin: 0 0 2rem 0;
}

#form-tts {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#language{
    max-width: 70%;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    margin: 3px 0 .5rem;
}

#text {
    max-height: 35vh;
    max-width: 100%;
}